.main{

  background-color: hsl(220, 18%, 78%);
  /* height: 130vh; */
  height: auto;


}
.head1{
    padding:70px 0px;
    text-align: center;
    width: 100%;
}
.brandsImage{


    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.brandsImage div{
    margin-right: 30px;
    margin-top: 30px;
    width: 250px;
}

.brandsContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}
.brandsContent div{
    width: 250px;
    height: 150px;

}

.brandsContent div p{
    width: 200px;
   

}
.copyright{
    text-align: center;
    margin-top: 50px;
    line-height: 10px;
    padding-bottom: 20px;
}

i{
    font-size: 30px;
    margin-top: 10px;
    margin-right: 20px;
}

@media only screen and (max-width: 400px) {

    .brandsImage div{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .brandsContent div{
        width: 250px;
        height: fit-content;
        margin-bottom: 10px;


    
    }
    
}